$size-lg: 0.9;
$size-md: 0.8;
$size-sm: 0.7;
$size-xs: 0.6;

.about{
    &#{-sec1}{
        
        height: 48rem;
        @include media-max($xxl){height: 42rem;}
        @include media-max($xl) {height: 36rem;}
        @include media-max($lg) {height: 30rem;}
        @include media-max($md) {height: 24rem;}
        @include media-max($sm) {height: 20rem;}
        @include media-max($xs) {height: 14rem;}
        @include media-max($xxs){height: 12rem;}
        
        background-size: cover;
        background-position: center center;
        &#{-container}{
            @include container;
            display: flex;
            align-items: center;
            height: 100%;

            &#{-display}{
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                @include px(3.75rem);
                @include media-max($lg) {
                    text-align: center;
                }

                h2{
                    @include display-2;
                    font-weight: bolder;
                    color: #fafaf9;
                    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
                    font-weight: bolder;
                    
                }
            }
        }
    }
    //******************************************************************************************************
    &#{-sec2}{
        background-color: #92a9c9;
        height: 50rem;
        overflow: hidden;
        @include media-max($xl) {
            height: 40rem;
        }
        @include media-max($lg) {
            height: auto;
        }
        &#{-container}{
            @include container;
            height: 100%;
            &#{-display}{
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                @include media-max($lg) {
                    text-align: center;
                }
                &#{-row}{
                    @include row;
                    height: 100%;

                    &#{-text}{
                        @include col(50%);
                        @include media-max($lg) {
                            @include col(100%);
                        }
                        padding-right: 3rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        &#{-heading}{
                            &.animate{
                                &:nth-of-type(1){
                                    animation: about-sec2-heading-1-animate 1s ease;
                                }
                                &:nth-of-type(2){
                                    animation: about-sec2-heading-2-animate 2s ease;
                                }
                            }
                            h3{
                                @include display-3;
                                color: #fefefe;
                                margin-top: 3rem;
                                margin-bottom: 0.5rem;
                                font-weight: bolder;
                            }
                            p{
                                font-size: 1.5rem;
                                line-height: 1.2;
                                color: #fefefe;
                                margin-bottom: 3rem;
                            }
                        }
                        
                    }
                    &#{-figure}{
                        @include col(50%);
                        @include media-max($lg) {
                            @include col(100%);
                        }
                        figure{
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                            @include media-max($lg) {
                                height: 12rem;
                                @include my(3rem);
                            }
                        }
                    }
                }
                
            }
        }
    }
    //******************************************************************************************************
    &#{-sec3}{
        @include py(1.5rem);
        padding-top: 5rem;
        @include media-max($lg) {
            padding-top: 1rem;
        }
        background-color: #e5e3ea;
        overflow: hidden;
        &#{-text}{
            max-width: 25rem;
            width: 90%;
            margin: auto;
            text-align: center;
            @include py(1.5rem);
            &.animate{
                &:nth-of-type(2){
                    animation: about-sec3-text1 4s ease;
                }
                &:nth-of-type(3){
                    animation: about-sec3-text2 5s ease;
                }
                &:nth-of-type(4){
                    animation: about-sec3-text3 6s ease;
                }
            }
            @include media-min($lg) {
                display: none;
            }
            h4{
                font-size: 1.125rem;
                margin-bottom: 0.5rem;
            }
            p{
                color: #2F353D;
                font-size: 0.9375rem;
            }
        }
        &#{-graphics}{
            transform: scale(1);
            
            @include media-max($lg) {transform: scale($size-lg); margin-top: 3rem;}
            @include media-max($md) {transform: scale($size-md); margin-top: 1rem;}
            @include media-max($sm) {transform: scale($size-sm);}
            @include media-max($xs) {transform: scale($size-xs);}

            &#{-center}{
                margin: auto;
                @include media-max($lg) {width: 35rem*$size-lg; height:35rem*$size-lg;}
                @include media-max($md) {width: 35rem*$size-md; height:35rem*$size-md;}
                @include media-max($sm) {width: 35rem*$size-sm; height:35rem*$size-sm;}
                @include media-max($xs) {width: 35rem*$size-xs; height:35rem*$size-xs;}
            }
        }
    }
    //******************************************************************************************************
    &#{-sec4}{
        &#{-container}{
            @include container;

            &#{-display}{
                text-align: center;
                @include py(4.5rem);

                h2{
                    color: #2F353D;
                    @include display-3;
                    margin-bottom: 1.5rem;
                    font-weight: bolder;
                }
                p{
                    color: #2F353D;
                    font-size: 0.9375rem;
                    margin-bottom: 1rem;
                    &:nth-of-type(1){
                        max-width: 992px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &:nth-of-type(2){
                        max-width: 768px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &:nth-of-type(3){
                        max-width: 992px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
    //******************************************************************************************************
    &#{-sec5}{
        background-size: cover;
        background-position: center;
        &#{-container}{
            @include container;
            padding-top: 5rem;
            padding-bottom: 8rem;
            @include media-max($lg) {
                padding-bottom: 6rem;
            }
            @include media-max($sm) {
                padding-bottom: 4rem;
            }

            &#{-display}{
                padding-top: 1rem;
                padding-bottom: 7.5rem;
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                text-align: center;
                @include media-max($lg) {
                    padding-bottom: 4.875rem;
                }
                @include media-max($sm) {
                    padding-bottom: 3.25rem;
                }

                h2{
                    color: #fcfcfb;
                    @include display-3;
                    margin-bottom: 1.5rem;
                    font-weight: bolder;
                }
                p{
                    color: #fcfcfb;
                    font-size: 0.9375rem;
                    max-width: 40rem;
                    margin: 1rem auto;
                    width: 100%;
                }
                small{
                    font-size: 0.5;
                }
            }
            &#{-row}{
                @include row;
                &#{-col}{
                    text-align: center;
                    @include py(1.5rem);
                    @include col(25%);
                    @include media-max($lg) {
                        @include col(50%);
                    }
                    @include media-max($sm) {
                        @include col(100%);
                    }
                    &#{-number}{
                        color: #fcfcfb;
                        margin-bottom: 1.5rem;
                        font-size: 3.75rem;
                        @include media-max($xs) {
                            font-size: 2rem;
                        }
                    }
                    &#{-line}{
                        background-color: #6da8f2;
                        height: 0.125rem;
                        width: 8.5rem;
                        @include media-max($xs) {
                            width: 7rem;
                        }
                        display: inline-block;
                        margin-bottom: 1.5rem;
                    }
                    &#{-text}{
                        color: #fcfcfb;
                        font-size: 1.25rem;
                        @include media-max($xs) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    //******************************************************************************************************
    &#{-sec6}{
        background-size: cover;
        background-position: center;
        &#{-container}{
            @include container;
            @include py(4rem);

            &#{-display}{
                padding-bottom: 5rem;
                margin: 0 auto;
                width: 100%;
                text-align: center;

                h2{
                    color: #2F353D;
                    @include display-3;
                    margin-bottom: 1.5rem;
                    font-weight: bolder;
                }
                p{
                    color: #2F353D;
                    font-size: 0.9375rem;
                    max-width: 992px;
                    margin: 1rem auto;
                    width: 100%;
                }
            }
            &#{-row}{
                @include row;
                &#{-col}{
                    text-align: center;
                    @include col(33.333%);
                    //@include media-max($lg) {@include col(50%);}
                    @include media-max($sm) {
                        @include col(100%);
                    }
                    figure{
                        @include py(0.75rem);
                        width: 100%;
                        .img{
                            width: 100%;
                            background-size: cover;
                            background-position: center;
                            height: 18.5rem;
                            @include media-max($xl) {
                                height: 12rem;
                            }
                            @include media-max($lg) {
                                height: 10rem;
                            }
                            @include media-max($md) {
                                height: 8rem;
                            }
                            @include media-max($sm) {
                                height: 8rem;
                            }
                        }
                        figcaption{
                            font-size: 1.25rem;
                            color: #2F353D;
                            @include py(0.75rem);
                        }
                    }
                }
            }
        }
    }
    //******************************************************************************************************
    &#{-sec7}{
        &#{-container}{
            max-width: 100rem;
            margin: auto;
            width: 100%;
            
            &#{-display}{
                padding-bottom: 1.5rem;
                margin: 0 auto;
                width: 100%;
                text-align: center;

                h2{
                    color: #2F353D;
                    @include display-3;
                    margin-bottom: 1.5rem;
                    font-weight: bolder;
                }
            }
        }
    }
}
//******************************************************************************************************
//slick

#silck-year{
    @include media-max($sm) {
        display: none;
    }
    max-width: 25rem;
    margin: 0 auto 3rem auto;
    .silck-item{
        text-align: center;
        position: relative;
        height: 4rem;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            height: 0.0625rem;
            top: 50%;
            transform: translate(0,0.25rem);
            left: 0;
            right: 0;
            background-color: #cf092b;
            z-index: 900;
        }
        button{
            position: absolute;
            height: 0.0625rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%,0.0625rem) scale(1);
            width: 0.5rem;
            height: 0.5rem;
            padding: 0;
            border: 0;
            margin: auto;
            background-color: #cf092b;
            border-radius: 50%;
            
        }
        span{
            color: #777777;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,100%);
        }
        &:hover{
            button{
                transform: translate(-50%,0.0625rem) scale(1.2);
            }
        }
    }
    .slick-arrow{
        background-color: transparent;
        width: 2rem;
        height: 2rem;
        transform: translate(0,66%);
        box-shadow: none;
        border-radius: 50%;
        @include media-max($sm) {
            display: none !important;
        }
        &:hover{
            background-color: #f6f6f6;
        }
        &:active{
            background-color: #eee;
        }
        &::after{
            content: '';
            position: absolute;
            background-color: #777777;
            top: 50%;
            width: 0.75rem;
            height: 0.0625rem;
            opacity: 1;
        }
        &::before{
            content: '';
            position: absolute;
            background-color: #777777;
            bottom: 50%;
            width: 0.75rem;
            height: 0.0625rem;
            opacity: 1;
        }
    }
    .slick-prev{
        top: 0;
        bottom: 0;
        left: -2.875rem;
        &::after{
            transform: translate(0.5rem,0.2rem) rotate(40deg);
            right: 60%;
        }
        &::before{
            transform: translate(0.5rem,-0.2rem) rotate(-40deg);
            right: 60%;
        }
        
    }
    .slick-next{
        top: 0;
        bottom: 0;
        right: -2.875rem;
        &::after{
            transform: translate(-0.5rem,-0.25rem) rotate(40deg);
            left: 60%;
        }
        &::before{
            transform: translate(-0.5rem,0.25rem) rotate(-40deg);
            left: 60%;
        }
    }
}

//******************************************************************************************************

#silck-about{
    margin-bottom: 10rem;
    .silck-item{
        padding: 0 1rem;
        .silck-item-dispay{
            position: relative;
            img{
                width: 100%;
            }
            figure{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 3rem 0;
                .year{
                    padding: 1rem 1.5rem;
                    a{
                        color: #fff;
                        font-size: 1.5rem;
                    }
                }
                figcaption{
                    margin: 0.5rem 0;
                    padding: 0 1.5rem;
                    height: 1.2rem * 3;
                    overflow: hidden;
                    z-index: 950;
    
                    a{
                        color: #fff;
                        font-size: 1rem;
                        line-height: 1.2rem;
                        cursor: auto;
                    }
                }
            }
        }
        
        
    }

    .slick-arrow{
        @include media-max($md) {
            display: none !important;
        }
        top: 50%;
        background-color: #dad9d930;
        width: 2.875rem;
        height: 5rem;
        z-index: 900;
        border-radius: 0.25rem;
        box-shadow: none;
        &::after{
            content: '';
            position: absolute;
            background-color: #fff;
            top: 50%;
            width: 1rem;
            height: 0.125rem;
            opacity: 1;
        }
        &::before{
            content: '';
            position: absolute;
            background-color: #fff;
            bottom: 50%;
            width: 1rem;
            height: 0.125rem;
            opacity: 1;
        }
        &:hover {
            opacity: 0.9;
        }
    }
    
    .slick-prev{
        left: 1.75rem;
        transform: translate(0,-50%);
        &::after{
            transform: translate(0.5rem,0.3rem) rotate(50deg);
            right: 50%;
        }
        &::before{
            transform: translate(0.5rem,-0.3rem) rotate(-50deg);
            right: 50%;
        }
        
    }
    .slick-next{
        right: 1.75rem;
        transform: translate(0,-50%);
        &::after{
            transform: translate(-0.5rem,-0.4rem) rotate(50deg);
            left: 50%;
        }
        &::before{
            transform: translate(-0.5rem,0.4rem) rotate(-50deg);
            left: 50%;
        }
    }

    .slick-arrow.slick-disabled{
        display: none !important;
    }

    .slick-dots{
        @include media-min($sm) {
            display: none !important;
        }
        bottom: -2.5rem;;
        li{
            width: 1rem;
            height: 1rem;
            position: relative;
            margin: 0;

            button{
                width: 1rem;
                height: 1rem;
            }
            
            >button:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: #aaa;
                opacity: 1;
            }
            &:hover{
                button::before{
                    background-color: #5d5854;
                }
            }
            &.slick-active>button::before{
                background-color: #5d5854;
            }
    
        }
    }
}