.applications-carousel{
    height: 48rem;
    @include media-max($xxl){height: 42rem;}
    @include media-max($xl) {height: 36rem;}
    @include media-max($lg) {height: 30rem;}
    @include media-max($md) {height: 24rem;}
    @include media-max($sm) {height: 20rem;}
    @include media-max($xs) {height: 14rem;}
    @include media-max($xxs){height: 12rem;}
}
#banner-applications{
    margin-bottom: 0;
    .silck-item{
        position: relative;
        background-size: cover;
        background-position: center;
        height: 48rem;
        @include media-max($xxl){height: 42rem;}
        @include media-max($xl) {height: 36rem;}
        @include media-max($lg) {height: 30rem;}
        @include media-max($md) {height: 24rem;}
        @include media-max($sm) {height: 20rem;}
        @include media-max($xs) {height: 14rem;}
        @include media-max($xxs){height: 12rem;}
            
        figure{
            mask{
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
                right: 0;
                bottom: -0.125rem;
                background-color: rgba(0, 0, 0, 0);
            }
        }
        .silck-item-heading{
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 0;
            right: 0;
            transform: translate(0 , -50%);
            h2{
                @include px(3.75rem);
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                @include display-2;
                font-weight: bolder;
                @include media-max($xl) {
                    @include px(3rem)
                }
                @include media-max($lg) {
                    text-align: center;
                    @include px(1rem)
                }
                text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
            }
            h3{
                @include px(3.75rem);
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                @include display-5;
                @include media-max($xl) {
                    @include px(3rem)
                }
                @include media-max($lg) {
                    text-align: center;
                    @include px(1rem)
                }
                text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
            }
        }
        .silck-item-video{
                margin-left: auto;
                margin-right: auto;
            iframe{
                height: 48rem;
                @include media-max($xxl){height: 42rem;}
                @include media-max($xl) {height: 36rem;}
                @include media-max($lg) {height: 30rem;}
                @include media-max($md) {height: 24rem;}
                @include media-max($sm) {height: 20rem;}
                @include media-max($xs) {height: 14rem;}
                @include media-max($xxs){height: 12rem;}
            }
        }
    }

    .slick-arrow{
        @include media-max($md) {
            display: none !important;
        }
        top: 50%;
        background-color: transparent;
        width: 2.875rem;
        height: 5rem;
        z-index: 900;
        border-radius: 0.25rem;
        box-shadow: none;
        &::after{
            content: '';
            position: absolute;
            background-color: #fff;
            top: 50%;
            border-radius: 0.25rem;
            width: 0.625rem;
            height: 0.125rem;
            opacity: 1;
        }
        &::before{
            content: '';
            position: absolute;
            background-color: #fff;
            bottom: 50%;
            border-radius: 0.25rem;
            width: 0.625rem;
            height: 0.125rem;
            opacity: 1;
        }
        &:hover {
            opacity: 0.9;
        }
    }
    
    .slick-prev{
        left: 0;
        transform: translate(0,-50%);
        &::after{
            transform: translate(0.325rem,0.15rem) rotate(65deg);
            right: 50%;
        }
        &::before{
            transform: translate(0.325rem, -0.25rem) rotate(-65deg);
            right: 50%;
        }
        
    }
    .slick-next{
        right: 0;
        transform: translate(0,-50%);
        &::after{
            transform: translate(-0.3rem,-0.35rem) rotate(65deg);
            left: 50%;
        }
        &::before{
            transform: translate(-0.3rem,0.35rem) rotate(-65deg);
            left: 50%;
        }
    }

    .slick-dots{
        bottom: 1rem;;
        li{
            width: 1rem;
            height: 1rem;
            position: relative;
            margin: 0;

            button{
                width: 1rem;
                height: 1rem;
            }
            
            >button:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: #5d5854;
                opacity: 1;
            }
            &:hover{
                button::before{
                    background-color: #fff;
                }
            }
            &.slick-active>button::before{
                background-color: #fff;
            }
    
        }
    }
}
//********************************************************************************************
.applications{
    &#{-carousel}{
        background-color: #5d5854;
    }

    &#{-container}{
        @include container;
        padding-bottom: 0.25rem;
        @include media-min($md) {
            padding-bottom: 14rem;
        }
        @include media-max($md) {
            @include px(0rem);
        }
        nav{
            @include px(2.875rem);
        }
        &#{-heading}{
            @include media-min($md) {
                display: none;
            }
            text-align: center;
            padding: 0.5rem 1.5rem;
            h2{
                font-size: 1.5rem;
                color: #2F353D;
                margin-bottom: 0.5rem;
                font-weight: bolder;
            }
            p{
                font-size: 0.875rem;
                color: #2F353D;
                margin-bottom: 1rem;
            }
        }
        //********************************************************************************************
        &#{-btn}{
            @include stretched-link;
            background-color: #c2bfca;
            padding: 0.5rem 2rem;
            border-top: 0.0625rem solid #fff;
            border-bottom: 0.0625rem solid #fff;
            @include media-min($md) {
                display: none;
            }
            a{
                color: #e9e7ec;
                display: block;
                width: 100%;
                .plus{
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 2rem;
                        transform: translate(0,0) rotate(90deg);
                        background-color: #fdfafa;
                        height: 0.125rem;
                        width: 1rem;
                        transition: all 0.3s;
                        pointer-events: none;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 2rem;
                        transform: translate(0,0) rotate(0deg);
                        background-color: #fdfafa;
                        height: 0.125rem;
                        width: 1rem;
                        pointer-events: none;
                    }
                    &.active{
                        &::before{
                            transform: translate(0,0) rotate(-180deg);
                        }
                    }
                }
            }
        }
        //********************************************************************************************
        &#{-sec}{
            @include px(0.5rem);
            @include media-max($md) {
                display: none;
            }

            &#{-heading}{
                text-align: center;
                &#{-banner}{
                    @include media-min($md) {
                        display: none;
                    }
                    img{
                        width: 100%;
                    }
                    p{
                        font-size: #e5e3e9;
                        margin-top: -0.5rem;
                        z-index: 3;
                        
                        @include py(1.5rem);
                        span{
                            display: inline-block;
                            max-width: 66%;
                        }
                    }
                    @include mx(-0.5rem);
                }
                h3{
                    @include display-3;
                    color: #2F353D;
                    margin-top: 4rem;
                    margin-bottom: 2rem;
                    font-weight: bolder;
                }
                p{
                    font-size: 1rem;
                    color: #2F353D;
                    margin: 0 auto 5rem auto;
                    max-width: 50rem;
                }
            }
            &#{-row}{
                display: flex;
                @include mx(-0.5rem);
                @include media-max($md) {
                    display: none;
                }
                &#{-col}{
                    flex: 1 1 50%;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    @include my(-0.5rem);
                    @include px(0.5rem);
                    p{
                        flex: 1 1 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include my(0.5rem);
                        span{
                            max-width: 66%;
                            text-align: center;
                            font-size: 1.5rem;
                            color: #e5e3ea;
                        }
                    }
                    figure{
                        display: flex;
                        flex-grow: 1;
                        @include mx(-0.5rem);
                        @include py(0.5rem);
                        img{
                            flex: 1 1 auto;
                            @include px(0.5rem);
                            max-width: 100%;
                            object-fit: cover;
                            
                        }
                        hr{
                            display: none;
                            &~img{
                                flex: 1 0 50%;
                                max-width: 50%;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}


//********************************************************************************************

$applications-silck-navbar-height: 3rem;


#applications nav{
    @include px(2.875rem);
}

#navbar-applications{
    @include media-max($md) {
        display: none;
    }
    .silck-item{
        background-color: #c2bfcb;
        height: $applications-silck-navbar-height;
            h3{
                height: $applications-silck-navbar-height;
                display: flex;
                align-items: center;
                text-align: center;
                @include stretched-link;
                a{
                    display: block;
                    color: #fff;
                    font-size: 1rem;
                    width: 100%;
                    &:focus{
                        outline: 0;
                    }
                    
                }
                &::after{
                    content: '';
                    position: absolute;
                    background-color: #e80028;
                    bottom: 0;
                    height: 0.125rem;
                    left: 0;
                    right: 100%;
                    z-index: 1;
                    transition: all 0.3s ease-in;
                }
            }
            
        &:hover{
            background-color: #e5e3ea;
            h3 {
                a{
                    color: #88868d;
                }
                &::after{
                    right: 0;
                }
            }
            
        }
        &.active{
            background-color: #e5e3ea;
            color: #88868d;
        }
    }
    .slick-arrow{
        @include media-max($md) {
            display: none !important;
        }
        top: 50%;
        background-color: #c2bfcb;
        width: 2.875rem;
        height: 3rem;
        z-index: 900;
        box-shadow: none;
        &::after{
            content: '';
            position: absolute;
            background-color: #fff;
            top: 50%;
            border-radius: 0.25rem;
            width: 0.625rem;
            height: 0.125rem;
            opacity: 1;
        }
        &::before{
            content: '';
            position: absolute;
            background-color: #fff;
            bottom: 50%;
            border-radius: 0.25rem;
            width: 0.625rem;
            height: 0.125rem;
            opacity: 1;
        }
    }
    
    .slick-prev{
        left: 0;
        transform: translate(-100%,-50%);
        &::after{
            transform: translate(0.325rem,0.15rem) rotate(65deg);
            right: 50%;
        }
        &::before{
            transform: translate(0.325rem, -0.25rem)rotate(-65deg);
            right: 50%;
        }
        
    }
    .slick-next{
        right: 0;
        transform: translate(100%,-50%);
        &::after{
            transform: translate(-0.3rem,-0.35rem) rotate(65deg);
            left: 50%;
        }
        &::before{
            transform: translate(-0.3rem,0.35rem) rotate(-65deg);
            left: 50%;
        }
    }
}

//********************************************************************************************

.gotop{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    
    button{
        background-color: #c2bfcb;
        width: 2rem;
        height: 2rem;
        z-index: 900;
        box-shadow: none;
        opacity: 0.75;
        border-radius: 0.5rem;
        border: 0;

        &::after{
            content: '';
            position: absolute;
            background-color: #fff;
            top: 50%;
            border-radius: 0.25rem;
            width: 0.625rem;
            height: 0.125rem;
            opacity: 1;
            transform: translate(0.5rem,-0.125rem) rotate(45deg);
            right: 50%;
        }
        &::before{
            content: '';
            position: absolute;
            background-color: #fff;
            top: 50%;
            border-radius: 0.25rem;
            width: 0.625rem;
            height: 0.125rem;
            opacity: 1;
            transform: translate(0.125rem, -0.125rem)rotate(-45deg);
            right: 50%;
        }  
        &:hover {
            opacity: 1;
        }   
    }
}