.design{
    &#{-sec1}{
        background-size: cover;
        background-position: center;
        height: 100vh;

        &#{-container}{
            @include container;
                display: flex;
                align-items: center;
                height: 100%;
            &#{-display}{

                h2{
                    @include display-2;
                    font-weight: bolder;
                    color: white;
                    margin-bottom: 0.75rem;
                    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
                }
            }
        }
    }
    &#{-sec2}{
        @include py(3.5rem);
        &#{-container}{
            @include container;
            h2{
                text-align: center;
                @include display-4;
                font-weight: bolder;
                margin-bottom: 0;
                color: #505050;
            }
            h3{
                font-size: 0.9375rem;
                text-align: center;
                color: #505050;
                margin-bottom: 3rem;
            }

            //&#{-video}{}
        }
        &#{_video}{
            &#{-formGroup}{
                form{
                    display: flex;
                    position: relative;
                    align-items: center;
                    width: 200px;
                    @include my(1.5rem);
                    input{
                        outline: 0;
                        margin: 0;
                        line-height: 1.65rem;
                        height: 1.65rem;
                        border: 0.125rem solid #a0a1a5;
                    }
                    
                    button {
                        background-color: #a0a1a5;
                        background-image: url(../../images/icon/search.svg);
                        background-size: 60%;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 0;
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
            &#{-row}{
                @include row;
                @include mx(-1rem);
                &#{-col}{
                    @include col(50%);
                    @include media-max($lg) {
                        @include col(100%);
                    }
                    display: flex;
                    flex-wrap: wrap;
                    @include px(0.5rem);
                    @include my(0.5rem);
                    &#{-figure}{
                        height: 33rem;
                        @include stretched-link;
                        &.list{
                            width: 50%;
                            height: 50%;
                        }
                        padding: 0.5rem;
                        figure{
                            box-shadow: 0 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.15);
                            transition: all 0.2s;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            img{
                                flex-shrink: 0;
                                width: 100%;
                                background-size: cover;
                                height: 25rem;
                                margin-bottom: 0.375rem;
                                &.list{
                                    height: 11.25rem;
                                }
                            }
                            h4{
                                margin-top: 0.75rem;
                                flex-shrink: 0;
                                @include px(1.5rem);
                                @include text-ellipsis;
                                font-size: 1.25rem;
                                color: #505050;
                                font-weight: bolder;
                                @include my(0.375rem);
                            }
                            p{
                                flex-grow: 1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @include px(1.5rem);
                                margin-top: 0.375rem;
                                margin-bottom: 0.75rem;

                                a{
                                    color: #505050;
                                    font-size: 0.8125rem;
                                    line-height: 1.25rem;
                                    max-height: 1.25rem*2;
                                    overflow: hidden;
                                }
                            }
                            &:hover{
                                background-color: #c6d5e9;
                            } 
                        }
                    }
                }
            }
        }
    }
}
