footer{
    background-color: #000;
}
.footer{
    &#{-container}{
        @include container;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        &#{-row}{
            @include row;
            &#{-community}{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @include media-max($lg) {
                    order: 2;
                }
                @include media-min($md) {
                    @include col(auto);
                }
                &#{-text}{
                    color: white;
                    @include media-max($sm) {
                        margin-left: 1rem;
                    }
                }
                &#{-icon}{
                    color: white;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    @include media-max($sm) {
                        margin-left: 1rem;
                    }
                }
            }
            &#{-language}{
                display: flex;
                align-items: center;
                @include stretched-link;
                @include media-max($lg) {
                    order: 1;
                }
                @include media-max($sm) {
                    margin-left: 1rem;
                }
                @include media-min($md) {
                    @include col(auto);
                }
                @include media-min($lg) {
                    margin-left: auto;
                }
                &#{-text}{
                    display: inline-block;
                    color: white;
                    margin-right: 0.75rem;
                }
                &#{-btn}{
                    @include my(1.25rem);
                    width: 2rem;
                    height: 2rem;
                    svg{
                        fill:#fff;
                    }
                }
            }
        }
        &#{-line}{
            background-color: white;
            height: 0.0625rem;
        }
        &#{-copyright}{
            @include py(1.25rem);
            color: white;
        }
    }
    
}
.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    margin: 1.25rem 0.25rem;
    img{
        position: relative;
        width: 1.375rem;
        height: 1.375rem;
    }
}