/*
header
.header-container
.header-container-navbar
.header_navbar-logo
.header_navbar-btn
.header_navbar-ul
.header_navbar-ul-li 
.header_navbar-ul-li-link
.header_navbar-ul-dropdown
.header_dropdown-ul
.header_dropdown-ul-li
.header_dropdown-ul-li-link
*/

header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1010;

}
.header {
    &#{-container} {
        @include container;
        &#{-navbar} {
            display: flex;
            align-items: center;
            @include media-max($xl) {
                flex-direction: column;
                align-items: start;
            }
        }
        
    }
    &#{_navbar} {
        &#{-logo} {
            >a{
                 >img {
                     width: 150px;
                     padding: 0.75rem 0;
                     @include media-min($xl) {
                        padding: 0.5rem $grid-gutters/2;
                    }
                 }
            }
           
        }

        &#{-btn} {
            position: absolute;
            top: 1rem;
            right: 1rem;
            margin-left: auto;
            border: 0.0625rem #fcfdfd solid;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.65rem 0.65rem;
            cursor: pointer;
            
            @include media-min($xl) {
                display: none;
            }
            &#{-icon}{
                border-top:solid #fcfdfd 0.125rem;
                border-bottom:solid #fcfdfd 0.125rem;
                width: 1.5rem;
                height: 1.25rem;
                pointer-events: none;
                transition: all 0.3s;
            }
            &::before{
                content: '';
                transition: all 0.3s;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 24px;
                background-color: #fcfdfd;
                height: 0.125rem;
                transform: rotate(0deg) translate(-50%,-50%);
                pointer-events: none;
            }
            &::after{
                content: '';
                transition: all 0.3s;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 24px;
                background-color: #fcfdfd;
                height: 0.125rem;
                transform: rotate(0deg) translate(-50%,-50%);
                pointer-events: none;
            }

            &.active{
                span{
                    border-top:solid transparent 0.125rem;
                    border-bottom:solid transparent 0.125rem;
                }
                &::before{
                    left: 25%;
                    height: 0.125rem;
                    transform: rotate(-225deg) translate(0,0);
                }
                &::after{
                    left: 25%;
                    height: 0.125rem;
                    transform: rotate(225deg) translate(0,0);
                }
                
            }
        }
            
        &#{-ul} {
            display: flex;
            align-items: center;
            background-color: rgba(3,3,3,0.9);
            transition: all 0.4s;
            
            @include media-min($xl) {
                @include mx(auto)
            }
            @include media-max($xl){
                flex-direction: column;
                align-items: start;
                width: 100%;
                position: absolute;
                top: 72px;
                left: 0;
                right: 0;
                opacity: 0;
                pointer-events: none;
            }
            &.active{
                height: auto;
                opacity: 1;
                pointer-events: auto;
            }
            
            &#{-li} {
                @include px(1.5rem);
                @include media-max($xl) {
                    width: 100%;
                }
                &#{-link} {
                    @include py(1.5rem);
                    @include media-max($xl) {
                        @include py(1rem);
                    }
                    display: block;
                    height: 100%;
                    color: #fdfafa;
                    position: relative;
                    font-weight: bolder;
                    font-size: 1rem;
                    @include media-max($md) {
                        font-size: 0.875rem;
                    }
                    &:hover {
                        color: #fdfafa;
                        @include media-max($xl) {
                            color: #b68b69;
                        }
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        background-color: #e80028;
                        height: 0.25rem;
                        transition: width 0.3s ease-in-out;
                        pointer-events: none;
                    }
                }
                
                &:hover{
                    @include media-min($xl) {
                        >a::before {
                            width: 100%;
                        }
                    }
                }
            }

            &#{-dropdown} {
                position: relative;
                margin-left: 0.75rem;
                margin-right: 1.25rem;
                @include media-max($xl) {
                    width: 100%;
                    padding-left: 0.75rem;
                }
                >a::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -1.25rem;
                    display: inline-block;
                    pointer-events: none;
                    transform: translateY(0) rotate(0deg);
                    transition: all 0.3s;
                    border: {
                        color: #fdfafa transparent transparent transparent;
                        width: 0.35rem;
                        style: solid;
                    } 
                    @include media-max($xl) {
                        right: 2rem;
                    }
                }
                &.active>a::after{
                    transform: translateY(-50%) rotate(180deg);
                }
                
                
                &:hover {
                    @include media-min($xl) {
                        >a::before {
                            width: 100%;
                        }
                    }
                }
            }
            
        }
    }

    &#{_dropdown-ul} {
        display: none;
        @include media-min($xl) {
            @include py(1rem);
            background-color: #4c4c4c;
            position: absolute;
        }
        
        &#{-li} {
            &#{-link} {
                white-space: nowrap;
                display: block;
                padding: 0.35rem 1.5rem;
                @include media-max($xl) {
                    @include py(0.5rem);
                }
                color: #fdfafa;
                font-weight: 700;
                font-size: 0.935rem;
                @include media-max($md) {
                    font-size: 0.875rem;
                }
                &:hover {
                    color: #b78a69;
                }
            }
        }
    }
}

