.home{
    &#{-sec1}{
        padding-top: 7.5rem;
        height: 100vh;
        position: relative;
        background-color: #000;
        @include media-max($sm) {
            height: 800px;
        }
        &#{-bgUpper}{
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: 47% center;
            background-size: cover;
            z-index: 4;
            animation: star-sky-1 5s linear infinite;
        }
        &#{-bgLower}{
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: 47% center;
            background-size: cover;
            z-index: 4;
            animation: star-sky-2 5s linear infinite;
        }
        &#{-container}{
            @include container;
            position: relative;
            z-index: 5;
            display: flex;
            align-items: center;
            height: 100%;


            &#{-display}{
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                @include media-max($lg) {
                    text-align: center;
                }

                h2{
                    @include display-2;
                    font-weight: bolder;
                    color: #fdfcfc;
                    margin-left: -0.5rem;
                    margin-bottom: 1rem;
                    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
                }
                h3{
                    @include display-3;
                    font-weight: bolder;
                    color: #fdfcfc;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
                }
                button{
                     @include stretched-link;
                     display: inline-block;
                     @include btn-outline(#fdfcfc,#000);
                     font-size: 1.125rem;
                     font-weight: bolder;
                     padding: 0.625rem 1.5rem;
                     margin-top: 0.5rem;
                     margin-bottom: 9rem;
                     border-radius: 0.25rem;
                }
            }
        }
    }
    &#{-sec2}{
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
        @include media-max($sm) {
            height: 85vh;
            display: flex;
            flex-direction: column;
        }
        &#{-bg}{
            @include media-max($sm) {
                background-size: cover;
                background-position: 85% center;
                flex-grow: 1;
            }
        }
        &#{-container}{
            @include container;
            @include media-min($sm) {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            @include media-max($sm) {
                background-color: #000;
                @include py(4rem);
            }

            &#{-display}{
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                @include media-max($lg) {
                    text-align: center;
                }

                h2{
                    @include display-3;
                    font-weight: bolder;
                    color: #b68b69;
                    padding-top: 0.5rem;
                    margin-bottom: 1rem;
                    @include media-max($md) {
                        margin-bottom: 0.5rem;
                    }
                }
                h3{
                    @include display-5;
                    font-weight: bolder;
                    color: #b68b69;
                    line-height: 1.2;
                    margin-bottom: 1rem;
                    @include media-max($md) {
                        margin-bottom: 0.5rem;
                    }
                    
                }
                button{
                    @include btn-outline(#b68b69,#fdfcfc);
                    border-radius: 0.25rem;
                    font-size: 1.125rem;
                    font-weight: bolder;
                    padding: 0.625rem 2.75rem;
                    margin-top: 0.5rem;
                    margin-bottom: 1.5rem;
                    @include media-max($md) {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
    &#{-sec3}{
        background-color: #333a44;
        @include py(3.5rem);
        &#{-container}{
            @include container;
            @include media-min($lg) {
                @include px(5rem);
            }
            text-align: center;
            h2{
                color: #fdfcfc;
                @include display-3;
                font-weight: bolder;
                margin-bottom: 1rem;
                padding-top: 1.125rem;
            }
            &#{-button}{
                @include btn-outline(#fdfcfc,#333a44);
                border-radius: 0.25rem;
                font-size: 1.125rem;
                font-weight: bolder;
                padding: 0.625rem 2.5rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
                
            }
            h3{
                @include py(1.5rem);
                a{
                    color: #fdfcfc;
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            }
        }
    }
    &#{-sec4}{
        background-size: cover;
        background-position: center;
        height: 130vh;

        &#{-container}{
            @include container;
                display: flex;
                align-items: center;
                @include media-max($lg) {
                    align-items: flex-start;
                }
                height: 100%;
            &#{-display}{
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                margin-top: 5rem;
                @include media-min($lg) {
                    margin-top: -23rem;
                }
                @include media-max($lg) {
                    text-align: center;
                }
                h2{
                    @include display-3;
                    font-weight: bolder;
                    color: #fdfcfc;
                    margin-bottom: 1rem;
                }
                h3{
                    @include display-5;
                    font-weight: bolder;
                    color: #fdfcfc;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                    line-height: 1.2;
                }
                button{
                    @include btn-outline(#fdfcfc,#101010);
                    border-radius: 0.25rem;
                    font-size: 1.125rem;
                    font-weight: bolder;
                    padding: 0.625rem 2.75rem;
                    margin-top: 0.5rem;
                    margin-bottom: 2.5rem;
                }
            }
        }
    }
    &#{-sec5}{
        background-color: #707882;
        @include py(5rem);
        &#{-container}{
            text-align: center;
            @include container;
            h2{
                color: #fdfcfc;
                @include display-3;
                font-weight: bolder;
                margin-bottom: 0.5rem;
                @include media-max($md) {
                    margin-bottom: 0.25rem;
                }
            }
            h3{
                color: #fdfcfc;
                @include display-5;
                margin-bottom: 1rem;
            }
            button{
                @include btn-outline(#fdfcfc,#707882);
                border-radius: 0.25rem;
                font-size: 1.125rem;
                font-weight: bolder;
                padding: 0.625rem 2.5rem;
                
            }
            &#{-row}{
                @include row;
                @include my(2rem);
                &#{-col}{
                    @include col(100%);
                    @include media-min($lg) {
                        @include col(33.333%);
                    }
                    @include py(0.625rem);
                    
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    &#{-sec6}{
        background-size: cover;
        background-position: center;
        height: 100vh;

        &#{-container}{
            @include container;
                display: flex;
                align-items: center;
                height: 100%;
            &#{-display}{
                max-width: 1140px;
                margin: 0 auto;
                width: 100%;
                @include media-max($lg) {
                    text-align: center;
                }

                h2{
                    @include display-3;
                    font-weight: bolder;
                    color: #fdfcfc;
                    margin-bottom: 0.75rem;
                    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
                }
                h3{
                    @include display-5;
                    font-weight: bolder;
                    color: #fdfcfc;
                    margin-top: 0.5rem;
                    margin-bottom: 0.75rem;
                    text-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.8);
                }
                button{
                    @include btn-outline(#fdfcfc,#707882);
                    border-radius: 0.25rem;
                    font-size: 1.125rem;
                    font-weight: bolder;
                    padding: 0.625rem 1.5rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

#silck-applications{
    figure{
        width: 100%;
        text-align: center;
        @include px(0.5rem);
        img{
            width: 100%;
        }
    }
    .slick-prev{
        left: -20px;
        &::before{
            content: '';
        }
        img{
            transform: translate(-100%,-50%);
            cursor: pointer;
            width: 4rem;
            height: 5.5rem;
        }
    }
    .slick-next{
        right: -20px;
        &::before{
            content: '';
        }
        img{
            transform: translate(100%,-50%);
            cursor: pointer;
            width: 4rem;
            height: 5.5rem;
        }
    }
    .slick-arrow{
        padding: 0;
        width: auto;
        height: auto;
        z-index: 1000;
        background-color: transparent;
        cursor: auto;
        &:active{
            box-shadow: none;
        }
        @include media-max($lg) {
            display: none !important;
        }
    }
    .slick-dots{
        li>button:before{
            content: '';
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            border:solid 0.125rem #fff;
            opacity: 1;
        }

        li.slick-active>button:before{
            background-color: #fff;
        }

    }
}

@keyframes star-sky-1{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes star-sky-2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}