.knowledge{
    &#{-sec1}{
        background-size: cover;
        background-position: center;
        height: 48rem;
        @include media-max($xxl){height: 42rem;}
        @include media-max($xl) {height: 36rem;}
        @include media-max($lg) {height: 30rem;}
        @include media-max($md) {height: 24rem;}
        @include media-max($sm) {height: 20rem;}
        @include media-max($xs) {height: 14rem;}
        @include media-max($xxs){height: 12rem;}

        &#{-container}{
            @include container;
                display: flex;
                align-items: center;
                height: 100%;
            &#{-display}{

                h2{
                    @include display-2;
                    font-weight: bolder;
                    color: white;
                    margin-bottom: 0.75rem;
                    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0,0,0,0.8);
                }
            }
        }
    }
    &#{-sec2}{
        @include py(3.5rem);
        &#{-container}{
            @include container;
            h2{
                text-align: center;
                @include display-4;
                font-weight: bolder;
                margin-bottom: 0;
                color: #000000;
            }
            h3{
                font-size: 0.9375rem;
                text-align: center;
                color: #000000;
                margin-bottom: 3rem;
            }

            //&#{-video}{}
        }
        &#{_video}{
            &#{-formGroup}{
                form{
                    display: flex;
                    position: relative;
                    align-items: center;
                    width: 200px;
                    @include my(1.5rem);
                    input{
                        outline: 0;
                        margin: 0;
                        line-height: 1.65rem;
                        height: 1.65rem;
                        border: 0.125rem solid #a0a1a5;
                    }
                    
                    button {
                        background-color: #a0a1a5;
                        background-image: url(../../images/icon/search.svg);
                        background-size: 60%;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 0;
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
            &#{-row}{
                @include row;
                @include mx(-0.25rem);

                &#{-col}{
                    @include col(50%);
                    @include media-max($lg) {
                        @include col(100%);
                    }
                    @include px(0);
                    display: flex;

                    &#{-figure}{
                        @include stretched-link;
                        flex-grow: 1;
                        flex-shrink: 1;
                        flex-basis: auto;
                        width: 100%;
                        @include px(0.25rem);
                        height: 30rem;

                        figure{
                            box-shadow: 0 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.15);
                            overflow: hidden;
                            transition: all 0.2s;

                            .img{
                            width: 100%;
                            height: 20rem;
                            background-size: cover;
                            margin-bottom: 0.25rem;
                            background-size: cover;
                            background-position: center;
                            }
                            h4{
                                @include text-ellipsis;
                                @include my(0.5rem);
                                @include px(1.5rem);
                                a{
                                    font-size: 1.25rem;
                                    color: #000000;
                                    font-weight: bolder;
                                }
                            }
                            p{
                                line-height: 1.25rem;
                                height: 1.25rem*4;
                                overflow: hidden;
                                color: #000000;
                                font-size: 0.875rem;
                                @include px(1.5rem);
                                margin-bottom: 0.75rem;
                    
                            }
                            &:hover{
                                background-color: #c6d5e9;
                                h4{
                                    color: #fff;
                                }
                                a{
                                    color: #fff;
                                }
                                p{
                                    color: #fff;
                                }
                            } 
                        }
                    }
                }
            }
        }
    }
}
