.social{
    &#{-banner}{
        height: 40rem;
        background-size: cover;
        background-position: center;
        padding-top: 6.5rem;
        @include media-max($lg){
            height: 30rem;
            background-position: 35% center;
            padding-top: 5rem;
        }
        @include media-max($md){
            height: 25rem;
            padding-top: 3.75rem;
        }
        @include media-max($sm){
            height: 20rem;
            padding-top: 2.5rem;

        }
        &#{-display}{
            h2{
                @include display-2;
                font-weight: bolder;
                color: #2F353D;
                text-align: center;
            }
        }
    }
    &#{-main}{
        &#{-container}{
            @include container;
            @include py(4rem);
            @include media-min($xxl){
                max-width: 1420px;

            }
            &#{-display}{
                h2{
                    text-align: center;
                    color: #000;
                    font-weight: bolder;
                    @include display-3;
                    margin-bottom: 1.5rem;
                }
            }
            &#{-tab}{
                @include py(0.5rem);
                &#{-navbar}{
                    @include py(0.75rem);
                }
                &#{-pagination}{
                    @include py(0.75rem);
                    overflow: hidden;
                }
            }
        }
        &#{_navbar}{
            &#{-row}{
                display: flex;
                @include row;
                @include mx(0);
                align-items: center;
                &#{-col}{
                    @include col(10%);
                    @include media-max($lg){
                        @include col(20%);
                    }
                    @include media-max($xs){
                        @include px(0.25rem);
                    }
                    figure{
                        @include py(0.75rem);
                        @include stretched-link;
                        a{
                            display: block;
                        }
                        img{
                            max-width: 100%;
                            width: 115px;
                            display: block;
                        }
                        .active{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            @include py(0.75rem);
                            opacity: 0;
                            z-index: 1;
                            transition: all 0.3s;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: -0.25rem;
                            left: 50%;
                            right: 50%;
                            height: 0.25rem;
                            background-color: #d62e33;
                            transition: all 0.3s;
                        }
                        &.active{
                            img{
                                opacity: 1;
                            }
                            &::after{
                                left: 0;
                                right: 0;
                            }
                        }
                        &:hover{
                            .active{
                                opacity: 1;
                            }
                            &::after{
                                left: 0;
                                right: 0;
                            }
                        }
                        
                    }
                }
            }
            
        }
        &#{_pagination}{
            &#{-panels}{
                display: flex;
                transition: all 0.3s;
                &#{-row}{
                    width: 100%;
                    flex-shrink: 0;
                    @include row-float;
                    @include mx(0);
                    transition: all 0.3s;

                    &#{-col}{
                        @include col-float(50%);
                        @include media-max($lg){
                            @include col(100%);
                        }
                        @include py(1rem);
                        
                        figure{
                            position: relative;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            @include stretched-link;

                            h4{
                                @include px(2.25rem);
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                z-index: 1;
                                display: flex;
                                align-items: center;
                                a{
                                    @include display-4;
                                }
                            }
                            &:hover{
                                opacity: 0.9;
                            }
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    
}


.social-main-container-tab-pagination{
    height: 550px;
    @include media-min($md){
        height: 680px;
    }
    @include media-max($xs){
        height: 400px;
    }
    
    &.facebook{
        height: auto;
    }
}