//***************************************************
// 瀏覽器替代方案
//***************************************************

// Target IE 10/11
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .header_navbar-logo{
        align-self: flex-start;
    }
    #silck-applications .slick-arrow{
        top:40%;
    }
    #silck-applications .slick-arrow img{
        transform: translate(0,0);
    }
    #silck-applications .slick-prev{
        left: -75px;
    }
    #silck-applications .slick-next{
        right: -75px;
    }

    #sec1,#sec2,#sec5,#sec10,#sec12{
        .applications-container-sec-row-col{
            max-width: 50%;
        }
        img{
            max-width: 50%;
            flex: 1 1 50%;
            object-fit: contain;
        }
        
    }
    #sec3,#sec4,#sec6,#sec8{
        .applications-container-sec-row-col{
            max-width: 100%;
        }
        img{
            flex: 1 1 100%;
        }
        
    }
    .ourbraud-sec5_table-body-row-col{
        padding-top: 0.75rem; 
        padding-bottom: 1rem; 
    }
    @include media-max($sm) {
        .ourbraud-sec5_table-body-row{
            padding-bottom: 1.5rem; 
        }
    }
    
}

// Target IE Edge
@supports (-ms-ime-align:auto){
    #sec1,#sec2,#sec5,#sec10,#sec12{
        .applications-container-sec-row-col{
            max-width: 50%;
        }
        img{
            max-width: 100%;
            flex: 1 1 50%;
        }
    }
}

//***************************************************