@mixin stretched-link {
    position: relative;

    button,a {
        &::after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        pointer-events: auto;
        content: "";
        background-color: rgba(0, 0, 0, 0);
        }
    }
}

         
@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span,a{
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


@mixin overline ($fs,$line){
    height: $fs * $line;
    line-height: $fs * $line;
    font-size: $fs;
    overflow: hidden;
}

@mixin py ($spacing) {
    padding-top: $spacing;
    padding-bottom: $spacing;
}

@mixin px ($spacing) {
    padding-left: $spacing;
    padding-right: $spacing;
}

@mixin my ($spacing) {
    margin-top: $spacing;
    margin-bottom: $spacing;
}

@mixin mx ($spacing) {
    margin-left: $spacing;
    margin-right: $spacing;
}

@mixin row {
    margin-left: -($grid-gutters/2);
    margin-right: -($grid-gutters/2);
    display: flex;
    flex-wrap: wrap;
}

@mixin col ($col) {
    padding-left: ($grid-gutters/2);
    padding-right: ($grid-gutters/2);
    flex-basis: $col;
    max-width: $col;
    flex-grow: 0;
    flex-shrink: 0;
}

@mixin row-float {
    margin-left: -($grid-gutters/2);
    margin-right: -($grid-gutters/2);
    overflow: hidden;
}

@mixin col-float ($col) {
    padding-left: ($grid-gutters/2);
    padding-right: ($grid-gutters/2);
    max-width: $col;
    width: 100%;
    float: left;
}

@mixin container {
    width: 100%;
    padding-right: ($grid-gutters/2);
    padding-left: ($grid-gutters/2);
    margin-right: auto;
    margin-left: auto;
    
    @each $media,$width in $container-width {
        @include media-min($width) {
            max-width: $width - ($grid-gutters*2);
            @content;
        }
    }
}

@mixin display-1 {
    @each $media,$width in $mediaSize-MP {
        @include media-min($width) {
            font-size: map-get($FontSize-display-1,$media)
        }
    }
    
}
@mixin display-2 {
    @each $media,$width in $mediaSize-MP {
        @include media-min($width) {
            font-size: map-get($FontSize-display-2,$media)
        }
    }
}
@mixin display-3 {
    @each $media,$width in $mediaSize-MP {
        @include media-min($width) {
            font-size: map-get($FontSize-display-3,$media)
        }
    }
}
@mixin display-4 {
    @each $media,$width in $mediaSize-MP {
        @include media-min($width) {
            font-size: map-get($FontSize-display-4,$media)
        }
    }
}

@mixin display-5 {
    @each $media,$width in $mediaSize-MP {
        @include media-min($width) {
            font-size: map-get($FontSize-display-5,$media)
        }
    }
}

@mixin btn-outline($bg , $text){
    background-color: transparent;
    border: 0.0625rem solid $bg;
    overflow: hidden;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 100%;
        background-color: $bg;
        transition: 0.2s ease-in;
        z-index: 1;
        display: block;
    }
    span,a{
        transition: 0.2s ease-in;
        position: relative;
        color: $bg;
        z-index: 2;
    }
    &:hover{
        span,a{
            color: $text;
        }
        &::after{
            right: 0;
        }
    }
}

@mixin button {
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    display: inline-block;
}