  @font-face {
    font-family: Helvetica;
    font-weight: lighter;
    src: url(../fonts/HelveticaThin.woff) format("woff"),
         url(../fonts/HelveticaThin.ttf) format("opentype");
    
  }
  @font-face {
    font-family: Helvetica;
    font-weight: normal;
    src: url(../fonts/HelveticaLight.woff) format("woff"),
         url(../fonts/HelveticaLight.ttf) format("opentype");
    
  }
  @font-face {
    font-family: Helvetica;
    font-weight: bolder;
    src: url(../fonts/HelveticaRoman.woff) format("woff"),
         url(../fonts/HelveticaRoman.ttf) format("opentype");
    
  }
  @font-face {
    font-family: Helvetica;
    font-weight: bold;
    src: url(../fonts/HelveticaMedium.woff) format("woff"),
         url(../fonts/HelveticaMedium.ttf) format("opentype");
    
  }