html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    box-sizing: border-box;
}

body {
    line-height: 120%;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 
        'Noto Sans TC',
        'Microsoft JhengHei',
        微軟正黑體,
        sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: #000;
    }
    &:active {
        text-decoration: none;
        color: #000;
    }
    &:link {
        text-decoration: none;
        color: #000;
    }
    &:visited {
        text-decoration: none;
        color: #000;
    }
}

i {
    @include fas-icon;
}

button{
    cursor: pointer;
    &:focus{
        outline: 0;
    }
    &:active{
        box-shadow: 0 0 0.5rem 0.375rem rgba(0, 0, 0, 0.25) inset;
    }
}
a[type="button"]{
    display: inline-block;
    text-align: center;
    &:active{
        box-shadow: 0 0 0.5rem 0.375rem rgba(0, 0, 0, 0.25) inset;
    }
}

@each $name,
$size in $headingFontSize {

    #{$name}{
        --font-size: #{$size};
        --line-height: #{$size * 2};
        line-height: 1.5;
        font-size: $size;
    }
}
